# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64

click~=7.1.2
setuptools>=49.6.0
unidecode>=1.2.0
cryptography>=3.4.7
nltk>=3.6.2
colorama>=0.4.4
pandas>=1.2.4